body {
    margin: 0;
    background-color: #000;
    color: white;
    
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
html {
    font-size: 22px;
}
header {
    width: 100%;
    background-color: rgb(0, 0, 0);
}
header .container{
    width: 100%;
    padding: 0 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 80px;
}
header ul li{
    display: inline-block;
    margin-left: 16px;
    color: white;
    font-size: 0.9rem;
}
header .hamburger-menu a{
    display: block;
    color: white!important;
    text-decoration: none;
    padding: 8px 16px;
}
header .hamburger-menu {
    box-sizing: border-box;
    background-color: black;
    transition: 0.5s;
    overflow: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 0;
    padding: 8px 0;
}
header .hamburger {
    display: none;
    cursor: pointer;
}
.hero-wrapper {
    position: relative;
    height: 50vh;
}
.hero{
    background: yellowgreen;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: left;
    align-items:last baseline;
    background-image: url("https://adarsh-rawat.github.io/MCAassociation/manit_mca.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.hero:before {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.28), rgba(20, 20, 20, 0.82));
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.main-heading {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    font-family: 'Poppins', sans-serif;
    z-index: 10;
    text-shadow: 0 0 20px black;
    padding: 2% 4%;
}
section {
    display: flex;
    flex-direction: column;
    padding: 5%;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    border-top: 2px solid #009fff;
}
.heading {
    font-family: inherit;
    text-align: center;
    font-size: 1.1rem;
    padding: 1rem;
    font-weight: 500;
}
.clubs-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.description{
    margin: 10px 0;
    max-width: 700px;
    font-size: 0.9rem;
    font-weight: 300;
    color: #c8c8c8;
    text-align: center;
}
.about .club .desc{
    font-size: 0.9rem;
}
.about .club {
    max-width: 400px;
    padding: 24px 16px;
    margin: 16px;
    border: solid 3px #009fff;
    border-radius: 24px;
    text-align: center;
}
.club img {
    margin: 16px;
    height: 120px;
}
.contact{
    background: #151515;
}
#contact_form{
    width: 100%;
    max-width: 500px;
}
.contact .error, .contact .success {
    display: none;
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
}
.form-control{
    background-color: black;
    border: none;
    width: 100%;
    box-sizing: border-box;
    line-height: 1rem;
    height: auto;
    font-size: 0.8rem;
    padding: 10px;
    margin-bottom: 20px;
}
.contact .btn-line{
    background: transparent;
    color:white;
    border: 1px solid white;
    padding: 8px 24px;
    font-size: 0.8rem;
    transition: 0.5s;
    cursor: pointer;
}
#contact_form input[placeholder], #contact_form textarea[placeholder]{
    color: white;
    border: 2px solid black;
    outline: none;
    transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#contact_form input:focus, #contact_form textarea:focus{
    /* border-color: #009fff; */
    box-shadow: 0 0 20px #009fff;
}
#contact_form .btn-line:hover{
    color: black;
    background-color: #009dff;
    border-radius: 2px;
    border-color: black;
}
.upper_footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
