@media screen and (max-width: 600px) {
    header ul li{
        display: none;
    }
    header .logo-container{
        margin-left: -5%;
    }
    header .hamburger {
        display: block;
    }
    html {
        font-size: 18px;
    }
    .upcoming{
        margin: 16px;
    }
    .clubs-container {
        flex-direction: column;
    }
    .events .container {
        flex-direction: column;
    }
    .event {
        width: 80%;
        margin: 10%;
    }
}

@media screen and (min-width: 600px) {
    .event {
        width: 30%;
        max-width: 350px;
        min-width: 300px;
        margin: 16px;
    }
}